:root {
  --primary: #ff0000;
  --secondary: #0022ff;
  --secondary-hover: #4797ff;
  --bg: #000000;
  --bg-transparent: #121212af;
  --bg-accent: rgb(16, 16, 16);
  --bg-lamp: rgba(40, 119, 194, 0.3);
  --navbar-color: rgba(255,255,255,.08);
  --img-selection: #ff9081;
  --text-color-xlight: rgb(255 255 255 / 40%);
  --text-color-light: rgb(255 255 255 / 75%);
  --text-color: rgb(250 249 246);

  --gradient: linear-gradient(90deg,#007cf0,#00dfd8);
  --gradient-title: linear-gradient(90deg, #007cf0, #00dfd8);
  --font-alt: 'Inter', sans-serif;

  --speed: 300ms;
  --border-radius: 25px;
  --border-width: 2px;
  --border-color: #202020;
  --border: var(--border-width) solid var(--border-color);
  --blur: blur(15px);

  --navbar-height: 50px;

  /* Next Defaults */
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  --font: var(--font-poppins);
  max-width: 100vw;
  overflow-x: hidden;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  text-size-adjust: none;
}

body {
  color: var(--text-color);
  background: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  p::selection,
  a::selection,
  b::selection,
  h1::selection,
  h2::selection,
  h3::selection,
  li::selection,
  br::selection,
  div::selection,
  span::selection,
  input::selection,
  button::selection {
    color: var(--bg);
    -webkit-text-fill-color: var(--bg);
    background-color: var(--secondary-hover);
  }
  img::selection {
    background-color: var(--img-selection);
  }
}

//Scroll Bar
body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  background: var(--bg-accent);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
