.intro {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 4rem 4rem 12rem;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  overflow: hidden;
  height: 700px;
  box-shadow: 0 0 50px 30px #000;

  .introImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
      linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 60%),
      linear-gradient(to right, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 60%),
      url('../public/Artwork.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    isolation: isolate;
  }

  .introContent {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1 {
      background-image: var(--gradient);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-family: var(--font);
      font-size: 5rem;
      font-weight: 800;
      letter-spacing: -1.4px;
      user-select: none;
    }

    p {
      // color: var(--primary-hover);
      background-image: var(--gradient);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-family: var(--font);
      font-size: 1.75rem;
      font-weight: 400;
      line-height: 1.2em;
      letter-spacing: -.02em;
      max-width: 740px;
      width: 100%;
      user-select: none;
    }
  }

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    img {
      width: 70%;
      height: auto;
      aspect-ratio: 1/1;
      order: -2;
    }

    .introContent {
      align-items: center;
      justify-content: center;
      text-align: center;
      
      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 1.5rem;
      }
    }

    .introImage {
      background-image: radial-gradient(circle 500px at 50% 50%, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.25)), url('../public/Artwork.png');
      background-attachment: scroll;
      align-self: center;
    }
  }

  @media screen and (max-width: 505px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    img {
      width: 70%;
      height: auto;
      aspect-ratio: 1/1;
      order: -2;
    }

    .introContent {
      align-items: center;
      justify-content: center;
      text-align: center;
      

      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .introImage {
      background-image: radial-gradient(circle 500px at 50% 50%, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.25)), url('../public/Artwork.png');
      background-attachment:scroll;
    }
  }
}

.longIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 8rem 0 8rem;

  @media (max-width: 1165px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .longIntroCard {
    width: 75%;
    position: relative;
    background-color: var(--bg-accent);
    border: 1px solid var(--border-color);
    border-radius: 1.5rem;
    margin-bottom: 4rem;
    box-shadow: 0 0 40px 15px #000;

    .longIntroCardContent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
      background-position: 50% 50%;
      background-size: 1.1rem 1.1rem;

      gap: 2rem;
      padding-left: 4rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-right: 4rem;

      border-radius: 1.25rem;
      overflow: hidden;

      .longIntroMedia{

        .longIntroAvatar{
          border: 1px solid rgb(255 255 255 / 5%);
          border-radius: 3rem;
          box-shadow: 0 0 50px 2px #000;
          margin-bottom: 25px;
          margin-top: 25px;
          user-select: none;
          width: 100%;
          height: 80%;
          max-height: 300px;
          max-width: 360px;
        }

        .longIntroSocials {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: auto;
        }
      }

      .longIntroDescription{
        margin-top: 25px;
        .longIntroText{
          h1, h3 , p {
            font-weight: 400;
          }

          h1 {
            font-family: var(--font);
            color: var(--text-color);
            font-size: 2.6rem;
            line-height: 1.3;
            margin-bottom: 24px;
          }

          h3 {
            font-family: var(--font-alt);
            color: var(--primary);
            text-transform: uppercase;
            font-size: 0.76rem;
            margin-bottom: 8px;
          }

          p {
            font-family: var(--font-alt);
            color: var(--text-color-light);
            line-height: 2rem;
            font-size: 1.25rem;
            margin-bottom: 24px;
          }
        }

        .longIntroButton {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-top: 12.5%;

          a {
            display: flex;
          }
        }
      }

      @media (max-width: 1455px) {
        flex-direction: column;
        justify-content: center;
        padding-left: 2rem;
        padding-right: 2rem;

        .longIntroMedia
        {
          align-self: center;
          align-items: center;
        }

        .longIntroText {
          h1,p {
            text-align: center;
          }
        }

        .longIntroDescription
        {
          .longIntroButton
          {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 12.5%;

            a {
              display: flex;
            }
          }
        }
        
      }
    }

    @media (max-width: 1165px) {
      width: 90%;
    }

    @media (max-width: 500px) {
      .longIntroMedia
      {
        align-self: center;
        align-items: center;
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
        width: auto;
        height: auto;

        .longIntroAvatar
        {
          height: auto;
          width: auto;
          object-fit: contain;
        }
      }
      
    }
  }

  @media screen and (max-width: 1400px) {
    padding: 1rem 1rem 0 1rem;

    .card {
      .cardContent {
        flex-direction: column;
        padding: 0;
        width: 100%;

        h1, p, h3 {
          width: 100%;
          align-self: center;
          text-align: center;
        }

        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 0;

          button {
            align-self: center;
          }
        }
      }
    }
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 8rem 0 8rem;

  .portfolioHeading {
    display: flex;
    flex-direction: row;
    align-items: center;

    h1
    {
      background-image: var(--gradient);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 3.75rem;
      font-weight: 800;
      letter-spacing: -1.4px;
      user-select: none;
      font-family: var(--font);
      z-index: 5;
      margin-right: 1rem;
    }
  }

  .portfolioProjects {
    width: 75%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    text-align: center;

    .projectCard, .projectCardEnd {
      width: 100%;
      position: relative;
      height: 23rem;
      border: 1px solid rgba(255, 255, 255, 0.05);
      border-radius: 1.5rem;
      overflow: hidden;
      box-shadow: 0 0 40px 15px #000;
      background-size: cover;
      background-position: center;
      background-clip: padding-box;
      transition: transform 200ms ease-in-out;

      .cardOverlay {
        align-content: flex-end;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 15rem;
        padding: 1rem;
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, transparent 101%);
        color: #fff;
        opacity: 0;
        transition: opacity 200ms ease-in-out;
        transform: translateZ(0);
        backface-visibility: hidden;

        h2 {
          font-family: var(--font);
          font-size: 1.75rem;
        }

        p {
          font-family: var(--font-alt);
          font-size: 1.25rem;
        }
      }

      &:hover {
        transform: scale(1.025);
        cursor: pointer;

        .cardOverlay {
          opacity: 1;
        }
      }

      h2 {
        font-family: var(--font);
        font-size: 1.25rem;
      }
    }

    .projectCard {
      margin-right: 2rem;
    }

    @media (max-width: 1165px) {
      flex-direction: column;
      .projectCard {
        margin-right: 0rem;
        margin-bottom: 4rem;
      }
    }

    @media (max-width: 965px) {
      width: 90%;
    }
  }

  .portfolioViewAll {
    margin-bottom: 4rem;
  }

  @media (max-width: 1165px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media screen and (max-width: 1400px) {
    padding: 1rem 1rem 0 1rem;

    .card {
      .cardContent {
        flex-direction: column;
        padding: 0;
        width: 100%;

        h1, p, h3 {
          width: 100%;
          align-self: center;
          text-align: center;
        }

        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 0;

          button {
            align-self: center;
          }
        }
      }
    }
  }
}