.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  word-wrap: break-word;
  font-size: 1.1rem;

  font-family: var(--font-jetbrains);

  background-color: #070D19;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  background-image: linear-gradient(45deg, rgba(255, 0, 0, 1), rgba(0, 72, 255));
  -webkit-text-fill-color: transparent;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
}