.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  word-wrap: break-word;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: mask-position 0.1s ease-in-out, -webkit-mask-position 0.1s ease-in-out;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
