.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  z-index: 1;

  .copyrightDisclaimer {
    color: var(--text-color-xlight);
    font-size: 1rem;
    font-family: var(--font);
    font-weight: 400;
    z-index: 1;
    margin-top: 20px;
    
    p {
      text-align: center;
    }
  }

  @media screen and (max-width: 860px) {
    p {
      max-width: 90%;
    }
  }
}