.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  a {
    display: flex;
  }

  img {
    cursor: pointer;
    transition: transform 200ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}