.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem 0;

  h1 {
    color: var(--text-color);
    font-family: var(--font);
    font-size: 4rem;
    font-weight: 1000;
    text-align: center;
    background-image: var(--gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    user-select: unset;
    z-index: 2;
  }

  .projectType {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  
    h1 {
      color: var(--text-color);
      font-family: var(--font-ubuntu);
      font-size: 3rem;
      font-weight: 1000;
      background-image: var(--gradient);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      user-select: none;
    }
  
    .projectTypeGrid {
      width: 80%;
      margin: 2rem auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  
      .projectCard {
        position: relative;
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 1.5rem;
        overflow: hidden;
        box-shadow: 0 0 40px 15px #000;
        background-size: cover;
        background-position: center;
        background-clip: padding-box;
        transition: transform 200ms ease-in-out;

        width: 100%;
        aspect-ratio: 1.665;

        img, Image {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
  
        .cardOverlay {
          align-content: flex-end;
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          height: 15rem;
          padding: 1rem;
          background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, transparent 101%);
          color: #fff;
          opacity: 0;
          transition: opacity 200ms ease-in-out;
          transform: translateZ(0);
          backface-visibility: hidden;
  
          h2 {
            font-family: var(--font);
            font-size: 1.75rem;
          }
  
          p {
            font-family: var(--font-ubuntu);
            font-size: 1.2rem;
          }
        }
  
        &:hover {
          transform: scale(1.025);
          cursor: pointer;
  
          .cardOverlay {
            opacity: 1;
          }

          @media (max-width: 300px) {
            .cardOverlay {
              opacity: 0;
            }
          }
        }

        h2 {
          font-family: var(--font);
          font-size: 1.25rem;
        }
      }
  
      > *:last-child:nth-child(odd) {
        grid-column: 1 / -1;
      }

      @media (max-width: 1400px) {
        width: 100%;
      }
  
      @media (max-width: 900px) {
        grid-template-columns: 1fr;
        width: 80%;
      }

      @media (max-width: 800px) {
        width: 90%;
      }

      @media (max-width: 550px) {
        width: 100%;
      }
    }
  }

  @media (max-width: 550px) {
    padding: 2rem 2rem 0;
  }

  @media (max-width: 400px) {
    padding: 1rem 1rem 0;
  }
}
